.title {
    font-size: 30px;
    font-weight: bold;
}

#input {
    display: block;
    height: 100px;
    width: 90%;
    margin: 10px;
}

.btn {
    background: #fc9e79;
    border: none;
    margin: 5px;
    padding: 5px;
}